<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio In Grey</h1>
    <p class="lead text-muted">Lovely Grey placeholder boxes eh?</p>
    <p>
      <%= link_to 'Find Out More ABout Me', about_me_path, class:'btn btn-primary' %>
      <%= link_to 'Checkout The Blog', blogs_path, class:'btn btn-secondary' %>
    </p>
  </div>
</section>
 