<main role="main" class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <h1>My contact Details</h1>
        <hr>
        <h3>Site Address</h3>
        <p>900 Patrol Rd, Jeffersonville, IN 47130</p>
        <h3>Email</h3>
        <p><a href="mailto:thevoldarian@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3127.7125674351423!2d-85.68897088473057!3d38.37877027965396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886970ceb010065b%3A0x7453c317620e3103!2sAmazon+Fulfillment+Center+SDF8!5e0!3m2!1sen!2sus!4v1509396514483" width="450" height="350" frameborder="1" style="border:1" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>