<main role="main" class="app-card-container">
  <div class="card">
  <h1 class="cover-heading">This is my Home</h1>
  <p class="lead">Its quaint, but I like it.</p>
  <p class="lead">
    <%= link_to "Portfolio", portfolios_path, class:"btn btn-lg btn-secondary" %>
  </p>
  </div>
</main>

